.p-button:focus,
.p-panel-toggler:focus,
.p-tabview-nav-btn:focus,
.p-tabview-nav-link:focus,
.p-menuitem-link:focus,
.p-treenode-selectable,
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus,
.p-listbox .p-listbox-list .p-listbox-item:focus,
.p-datatable .p-sortable-column:focus,
.p-paginator-element:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}


.fc-view {
  background-color: transparent !important;
}

.fc-day-today {
  background-color: var(--fc-today-bg-color) !important;
}

.fc-timeGridDay-view, .fc-dayGridDay-view {
  .fc-day-today {
    background-color: transparent !important;
  }

  .fc-col-header-cell.fc-day-today {
    background-color: var(--fc-today-bg-color) !important;
  }
}

:root {
  --fc-today-bg-color: var(--blue-100) !important;
}

.p-paginator, .p-datatable .p-datatable-tbody > tr {
  background-color: var(--surface-b) !important;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: var(--surface-c) !important;
}