.p-button:focus,
.p-panel-toggler:focus,
.p-tabview-nav-btn:focus,
.p-tabview-nav-link:focus,
.p-menuitem-link:focus,
.p-treenode-selectable,
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus,
.p-listbox .p-listbox-list .p-listbox-item:focus,
.p-datatable .p-sortable-column:focus,
.p-paginator-element:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}