<div id="etab-upper">
    <div class="flex flex-row align-items-center gap-3">
        <div class="flex flex-row align-items-center gap-1">
            <i class="fa-solid fa-utensils"></i>
            <h3>{{ establishment?.name }}</h3>
        </div>
        <app-state *ngIf="!loadingData" [label]="establishment.state"></app-state>
    </div>
</div>
<div class="flex flex-row flex-1 align-items-start">
    <div>
        <app-establishment-menu></app-establishment-menu>
    </div>
    <div class="flex flex-1 h-full">
        <router-outlet></router-outlet>
    </div>
</div>