#header {
    border-color: var(--text-color-secondary);
    background-color: var(--surface-b);
}

.logo {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 2em;
    text-transform: lowercase;
}